<div class="info-card">
  <img class="background-img" src="https://storage.googleapis.com/a1aa/image/DLmi23sFj1azP5YeerVcenXqwEfOCHOlrSnGXK09IgoXYIaOB.jpg" alt="">
  <h5>
   Trietport info
  </h5>
  <img alt="Image of a train" height="200" src="https://storage.googleapis.com/a1aa/image/DLmi23sFj1azP5YeerVcenXqwEfOCHOlrSnGXK09IgoXYIaOB.jpg" width="300"/>
  <div class="stations">
   <span>
    Fhenar
   </span>
   <span>
    Argigdone
   </span>
   <span>
    Pieres
   </span>
  </div>
 </div>
 <div class="booking-card">
  <h5>
   Traine - 12,000k00
  </h5>
  <p>
   Irn Available seats
  </p>
  <div class="time-buttons">
   <button>
    07:25.018
   </button>
   <button>
    11.0m
   </button>
  </div>
  <div class="details">
   <span>
    Train routes
   </span>
   <span>
    Depatior, 17 - 134pm
   </span>
   <span>
    Trffect seats
   </span>
   <span>
    1.00/2302 - 550pm
   </span>
   <span>
    Curcem Engining!
   </span>
  </div>
  <div class="footer-buttons">
   <button>
    22:00hm
   </button>
   <button>
    5kl
   </button>
   <button>
    7:00Pm
   </button>
   <button>
    New
   </button>
  </div>
 </div>
 <div class="seats-card">
  <h5>
   Choose your seats
  </h5>
  <div class="seats">
   <div class="seat selected">
   </div>
   <div class="seat">
   </div>
   <div class="seat">
   </div>
   <div class="seat">
   </div>
   <div class="seat">
   </div>
   <div class="seat">
   </div>
   <div class="seat">
   </div>
  </div>
 </div>
