<h1 class="mb-4">Quản lý người dùng</h1>
<div class="row mb-3">
  <form class="col-6" (submit)="onSearch()">
    <input
      class="form-control"
      placeholder="Nhập họ và tên, tài khoản, email, SĐT hoặc CMND"
      [(ngModel)]="search"
      name="search"
    />
  </form>
</div>

<!-- list role-->
<p-confirmPopup />
<p-table
  [value]="users"
  [tableStyle]="{ 'min-width': '60rem' }"
  [customSort]="false"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id" style="width: 10%">
        Id <p-sortIcon field="id" />
      </th>
      <th pSortableColumn="name" style="width: 16%">
        Họ và tên<p-sortIcon field="name" />
      </th>

      <th pSortableColumn="price" style="width: 16%">
        Tài khoản <p-sortIcon field="name" />
      </th>
      <th pSortableColumn="price" style="width: 16%">
        Email <p-sortIcon field="name" />
      </th>
      <th pSortableColumn="price" style="width: 16%">
        SĐT<p-sortIcon field="name" />
      </th>
      <th pSortableColumn="price" style="width: 16%">
        CMND<p-sortIcon field="name" />
      </th>

      <th style="width: 10%"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.fullName }}</td>
      <td>{{ user.userName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.cmnd }}</td>

      <td>
        <button class="btn" (click)="deleteConfirmPopup($event, user.id)">
          <i class="pi pi-trash"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
<!-- paginator ngprime -->
@if(pageSize && pageNumber) {
<div class="card flex justify-content-center mt-3">
  <p-paginator
    [first]="(pageNumber - 1) * pageSize || 0"
    [rows]="pageSize"
    [totalRecords]="total || 0"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPageChange)="onPageChange($event)"
  >
  </p-paginator>
</div>
}
