<div class="container">
  <h2 class="text-center">Danh sách chuyến tàu</h2> <!-- Centered title -->
  <div class="button-container">
      <button pButton label="Thêm mới" icon="pi pi-plus" class="p-button-success mb-2" (click)="newRoute()"></button>
  </div>
  
  <!-- Search -->
  <div class="mb-2 search-container">
      <input
        class="form-control"
        placeholder="Tìm kiếm theo ga bắt đầu"
        [(ngModel)]="search"
        name="search"
        (keyup)="onSearch()"
      />
  </div>

  <p-table
    [value]="routes"
    [tableStyle]="{ 'min-width': '60rem' }"
    [customSort]="false"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id" style="width: 10%">
          Id <p-sortIcon field="id" />
        </th>
        <th pSortableColumn="name">Tên chuyến tàu <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="startStation.name">Ga bắt đầu <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="endStation.name">Ga kết thúc<p-sortIcon field="name"></p-sortIcon></th>
        <th>Trạng thái</th>
        <th>Hành động</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-route>
      <tr>
        <td>{{ route.id }}</td>
        <td>{{ route.name }}</td>
        <td>{{ route.startStation.name}}</td>
        <td>{{ route.endStation.name }}</td>
        <td>
          <p-inputSwitch 
            [style]="{width: '50px'}" 
            (onChange)="route.delete ? onRestore(route):onDelete(route)" 
            [(ngModel)]="route.delete">
          </p-inputSwitch>
        </td>
        <td>
          <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="editRoute(route.id)"></button>
          <button pButton icon="pi pi-eye" class="p-button-rounded p-button-info mr-2 eye-button" [routerLink]="['schedule',route.id]" routerLinkActive="active"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- paginator ngprime -->
  @if(pageSize && pageNumber) {
  <div class="card flex justify-content-center mt-3">
    <p-paginator
      [first]="(pageNumber - 1) * pageSize || 0"
      [rows]="pageSize"
      [totalRecords]="total || 0"
      [rowsPerPageOptions]="[5, 10, 20]"
      (onPageChange)="onPageChange($event)"
    >
    </p-paginator>
  </div>
  }

  <p-dialog [(visible)]="displayDialog" [style]="{ width: '40rem', height: 'auto', overflow: 'visible' }" modal="modal" [closable]="true" [responsive]="true" header="Thông tin chuyến tàu">
    <div class="container">
        <h2 *ngIf="!currentState; else editTemplate">Thêm chuyến tàu</h2>
        <ng-template #editTemplate>
            <h2>Chỉnh sửa chuyến tàu</h2>
        </ng-template>

        <form [formGroup]="routeForm" (ngSubmit)="onSubmit()" class="dialog-form">
            <div class="p-field">
                <label for="name">Tên chuyến tàu:</label>
                <input id="name" pInputText formControlName="name" required />
            </div>
            <div class="p-field">
                <label for="stationStartType">Ga bắt đầu:</label>
                <p-dropdown 
                    [options]="stationStartOptions"  
                    formControlName="stationStart"
                    optionLabel="startStationName"             
                    optionValue="startStationId"                 
                    placeholder="Chọn ga bắt đầu"
                    [showClear]="false"
                ></p-dropdown>
            </div>

            <div class="p-field">
                <label for="stationEndType">Ga kết thúc:</label>
                <p-dropdown 
                    [options]="stationEndOptions"  
                    formControlName="stationEnd"
                    optionLabel="endStationName"             
                    optionValue="endStationId"                 
                    placeholder="Chọn ga kết thúc"
                    [showClear]="false"
                ></p-dropdown>
            </div>

            <div class="p-field-checkbox">
                <p-checkbox inputId="is_active" formControlName="is_active" [binary]="true"></p-checkbox>
                <label for="is_active">Kích hoạt</label>
            </div>

            <button pButton type="submit" class="p-button-success-1 submit-button">
                <b>{{ currentState ? 'Chỉnh sửa chuyến tàu' : 'Thêm chuyến tàu' }}</b>
            </button>
        </form>
    </div>
</p-dialog>
</div>
