<h1 class="mb-4">Quản lý khuyến mãi</h1>
<div class="d-flex mb-3">
  <form (submit)="onSearch()">
    <input
      style="min-width: 400px"
      class="form-control"
      placeholder="Nhập tối tượng khuyến mãi khuyến mãi"
      [(ngModel)]="search"
      name="search"
    />
  </form>

  <button class="btn ms-auto btn-primary" (click)="showDialog()">
    <i class="pi pi-plus"></i>
    <span class="d-inline-block ms-1">Thêm khuyến mãi</span>
  </button>
</div>

<!-- list role-->
<p-confirmPopup />
<p-table
  [value]="discounts"
  [tableStyle]="{ 'min-width': '60rem' }"
  [customSort]="false"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 10%">Id</th>
      <th style="width: 20%">Đối tượng</th>

      <th style="width: 15%">Giá giảm (VNĐ)</th>

      <th style="width: 45%">Mô tả</th>

      <th style="width: 10%"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-discount>
    <tr>
      <td>{{ discount.id }}</td>
      <td>{{ discount.object }}</td>
      <td>{{ discount.price | number : "1.0" }}</td>
      <td>{{ discount.description }}</td>

      <td class="d-flex gap-1 align-items-center justify-content-center">
        <button class="btn" (click)="showDialog(discount.id)">
          <i class="pi pi-pen-to-square"></i>
        </button>
        <button class="btn" (click)="deleteConfirmPopup($event, discount.id)">
          <i class="pi pi-trash"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
<!-- paginator ngprime -->
@if(pageSize && pageNumber) {
<div class="card flex justify-content-center mt-3">
  <p-paginator
    [first]="(pageNumber - 1) * pageSize || 0"
    [rows]="pageSize"
    [totalRecords]="total || 0"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPageChange)="onPageChange($event)"
  >
  </p-paginator>
</div>
}

<!-- modal add, edit-->
<p-dialog
  header="{{ edit ? 'Cập nhật khuyến mãi' : 'Thêm khuyến mãi' }}"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '40rem', height: 'auto', overflow: 'visible' }"
  (onHide)="closeDialog()"
>
  <form [formGroup]="frm" (ngSubmit)="onSubmit()">
    @if(validationErrors && validationErrors.length > 0) {
    <div class="mx-auto mb-4 bg-danger text-white rounded">
      <ul class="list-unstyled p-3">
        @for (error of validationErrors; track $index) {
        <li class="mb-2">
          {{ error }}
        </li>
        }
      </ul>
    </div>
    }
    <div class="mb-3">
      <label for="object" class="form-label">Đối tượng</label>
      <input id="object" class="form-control" formControlName="object" />
      @if(frm.get('object')?.invalid && frm.get('naobjectme')?.touched ) {
      <span class="text-danger">Vui lòng nhập đối tượng</span>
      }
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Giá giảm</label>
      <input
        id="price"
        class="form-control"
        formControlName="price"
        type="number"
      />
      @if(frm.get('price')?.invalid && frm.get('price')?.touched ) {
      <span class="text-danger">Vui lòng nhập giá giảm</span>
      }
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <textarea
        id="description"
        class="form-control"
        formControlName="description"
      ></textarea>
      @if(frm.get('description')?.invalid && frm.get('description')?.touched) {
      <span class="text-danger">Vui lòng nhập mô tả</span>
      }
    </div>
    <div class="d-flex justify-content-end gap-2">
      <button type="button" class="btn btn-secondary" (click)="closeDialog()">
        <i class="pi pi-times me-1"></i>
        <span>Đóng</span>
      </button>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="frm.invalid || !frm.dirty"
      >
        <i class="pi pi-check me-1"></i>
        <span>Lưu</span>
      </button>
    </div>
  </form>
</p-dialog>
