<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Train</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tìm vé</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Thông tin đặt chỗ</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            style="cursor: pointer"
            *ngIf="currentUser != null"
            (click)="goToChangeInfo()"
            >Thay đổi thông tin</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isAdmin === true" routerLink="/admin"
            >Admin</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        @if(isLogin) {
        <li class="nav-item">
          <a class="nav-link" href="#">Xin chào {{ currentUser.fullName }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()">Đăng xuất</a>
        </li>
        } @else {
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Đăng ký</a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
