<h1 class="mb-4">Quản lý khuyến mãi</h1>
<div class="d-flex mb-3">
  <form (submit)="onSearch()">
    <input
      class="form-control"
      placeholder="Nhập tiêu đề khuyến mãi"
      [(ngModel)]="search"
      name="search"
    />
  </form>

  <button class="btn ms-auto btn-primary" (click)="showDialog()">
    <i class="pi pi-plus"></i>
    <span class="d-inline-block ms-1">Thêm khuyến mãi</span>
  </button>
</div>

<!-- list role-->
<p-confirmPopup />
<p-table
  [value]="promotions"
  [tableStyle]="{ 'min-width': '60rem' }"
  [customSort]="false"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 5%">Id</th>
      <th style="width: 10%">Tiêu đề</th>
      <th style="width: 5%">Code</th>
      <th style="width: 10%">Giá giảm</th>
      <th style="width: 10%">Số lượng</th>
      <th style="width: 15%">Thời gian bắt đầu</th>
      <th style="width: 15%">Thời gian kết thúc</th>
      <th style="width: 20%">Mô tả</th>

      <th style="width: 10%"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-promotion>
    <tr>
      <td>{{ promotion.id }}</td>
      <td>{{ promotion.name }}</td>
      <td>{{ promotion.code }}</td>
      <td>{{ promotion.price | number : "1.0" }}</td>
      <td>{{ promotion.count }}</td>
      <td>{{ promotion.startDate | date : "dd/MM/yyyy HH:mm:ss" }}</td>
      <td>{{ promotion.endDate | date : "dd/MM/yyyy HH:mm:ss" }}</td>
      <td>{{ promotion.description }}</td>

      <td class="d-flex gap-1 align-items-center justify-content-center">
        <button class="btn" (click)="showDialog(promotion.id)">
          <i class="pi pi-pen-to-square"></i>
        </button>
        <button class="btn" (click)="deleteConfirmPopup($event, promotion.id)">
          <i class="pi pi-trash"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
<!-- paginator ngprime -->
@if(pageSize && pageNumber) {
<div class="card flex justify-content-center mt-3">
  <p-paginator
    [first]="(pageNumber - 1) * pageSize || 0"
    [rows]="pageSize"
    [totalRecords]="total || 0"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPageChange)="onPageChange($event)"
  >
  </p-paginator>
</div>
}

<!-- modal add, edit-->
<p-dialog
  header="{{ edit ? 'Cập nhật khuyến mãi' : 'Thêm khuyến mãi' }}"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '40rem', height: 'auto', overflow: 'visible' }"
  (onHide)="closeDialog()"
>
  <form [formGroup]="frm" (ngSubmit)="onSubmit()">
    @if(validationErrors && validationErrors.length > 0) {
    <div class="mx-auto mb-4 bg-danger text-white rounded">
      <ul class="list-unstyled p-3">
        @for (error of validationErrors; track $index) {
        <li class="mb-2">
          {{ error }}
        </li>
        }
      </ul>
    </div>
    }
    <div class="mb-3">
      <label for="name" class="form-label">Tiêu đề</label>
      <input id="name" class="form-control" formControlName="name" />
      @if(frm.get('name')?.invalid && frm.get('name')?.touched ) {
      <span class="text-danger">Vui lòng nhập tiêu đề</span>
      }
    </div>

    <div class="mb-3 row">
      <div class="col-4">
        <label for="price" class="form-label">Giá giảm</label>
        <input
          id="price"
          class="form-control"
          formControlName="price"
          type="number"
        />
        @if(frm.get('price')?.invalid && frm.get('price')?.touched ) {
        <span class="text-danger">Vui lòng nhập giá giảm</span>
        }
      </div>
      <div class="col-4">
        <label for="count" class="form-label">Số lượng</label>
        <input
          id="count"
          class="form-control"
          formControlName="count"
          type="number"
        />
        @if(frm.get('count')?.invalid && frm.get('count')?.touched ) {
        <span class="text-danger">Vui lòng nhập số lượng phiếu giảm giá</span>
        }
      </div>
      <div class="col-4">
        <label for="code" class="form-label">Code</label>
        <input id="code" class="form-control" formControlName="code" />
        @if(frm.get('code')?.invalid && frm.get('code')?.touched ) {
        <span class="text-danger">Vui lòng nhập code</span>
        }
      </div>
    </div>

    <div class="mb-3">
      <label for="rangeDate" class="form-label"
        >Ngày bắt đầu - Ngày kết thúc</label
      >
      <p-calendar
        [(ngModel)]="rangeDates"
        selectionMode="range"
        [readonlyInput]="true"
        formControlName="rangeDate"
        class="calendar-container"
        [showTime]="true"
        dateFormat="dd/mm/yy"
        [appendTo]="'body'"
        [style]="{ width: '100%' }"
      />
      @if(frm.get('rangeDate')?.invalid && frm.get('rangeDate')?.touched) {
      <span class="text-danger"
        >Vui chọn thời gian bắt đầu và kết thúc khuyến mãi</span
      >
      }
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <textarea
        id="description"
        class="form-control"
        formControlName="description"
      ></textarea>
      @if(frm.get('description')?.invalid && frm.get('description')?.touched) {
      <span class="text-danger">Vui lòng nhập mô tả</span>
      }
    </div>
    <div class="d-flex justify-content-end gap-2">
      <button type="button" class="btn btn-secondary" (click)="closeDialog()">
        <i class="pi pi-times me-1"></i>
        <span>Đóng</span>
      </button>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="frm.invalid || !frm.dirty"
      >
        <i class="pi pi-check me-1"></i>
        <span>Lưu</span>
      </button>
    </div>
  </form>
</p-dialog>
