<div class="container">
  <form [formGroup]="ticketForm">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col" class="text-center align-middle">Họ tên</th>
          <th scope="col" class="text-center align-middle">Thông tin chỗ</th>
          <th scope="col" class="text-center align-middle">Giá chuyến đi</th>
          <th scope="col" class="text-center align-middle">Giá vé</th>
          <th scope="col" class="text-center align-middle">Giảm đối tượng</th>
          <th scope="col" class="text-center align-middle">Thành tiền</th>
          <th scope="col" class="text-center align-middle">Xóa vé</th>
        </tr>
      </thead>
      <tbody formArrayName="tickets">
        <tr *ngFor="let ticket of tickets.controls; let i = index" [formGroupName]="i">
          <td class="text-center align-middle">
            <div class="input-group mb-3">
              <span class="input-group-text">Họ và tên</span>
              <input type="text" class="form-control" formControlName="fullname" placeholder="Nhập họ tên">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Đối tượng</span>
              <select
                class="form-select"
                formControlName="object_id"
                (change)="getObjectById(i, $event)"
              >
                <option value="" disabled>Chọn đối tượng</option>
                <option *ngFor="let object of discountObjects" [value]="object.id">
                  {{ object.object }}
                </option>
              </select>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">Số giấy tờ</span>
              <input type="number"
              class="form-control"
              formControlName="can_cuoc"
              placeholder="Nhập CMND (9 hoặc 12 chữ số)">
            </div>
          </td>

          <!-- Nếu là roundTripPair -->
          <td class="text-center align-middle" *ngIf="isRoundTripPair(i)">
            {{ roundTripPairs[i][0]?.name }} ; {{ roundTripPairs[i][1]?.name }}
          </td>

          <!-- Nếu là vé 1 chiều -->
          <td class="text-center align-middle" *ngIf="!isRoundTripPair(i)">
            {{ selectSeats[i]?.name }}
          </td>

          <!-- Hiển thị giá (theo cặp vé hoặc vé lẻ) -->
          <td class="text-center align-middle">
            {{ isRoundTripPair(i) ? roundTripPairs[i][0]?.schedulePrice + roundTripPairs[i][1]?.schedulePrice : selectSeats[i]?.schedulePrice }}
          </td>
          <td class="text-center align-middle">
            {{ isRoundTripPair(i) ? roundTripPairs[i][0]?.price + roundTripPairs[i][1]?.price : selectSeats[i]?.price }}
          </td>

          <!-- Giảm giá -->
          <td class="text-center align-middle">{{ ticket.get('price_reduced')?.value || 0 }}</td>
          <!-- Giá cuối cùng -->
          <td class="text-center align-middle">{{ calculateFinalPrice(i) }}</td>

          <td class="text-center align-middle">
            <button type="button" class="btn btn-danger" (click)="removeTicket(ticket.get('seat_id')?.value)">
              <i class="bi bi-trash"></i> Xóa vé
            </button>
          </td>
        </tr>

        <!-- Xóa tất cả vé -->
        <tr>
          <td colspan="4">
            <button type="button" class="btn btn-danger" (click)="removeTicketAll()">
              Xóa tất cả các vé
            </button>
          </td>
          <td colspan="2" class="text-center align-middle">
            <h5 class="text-center">Tổng tiền: {{ calculateTotalPrice() }}</h5>
          </td>
        </tr>
      </tbody>

    </table>

    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-primary btn-lg" (click)="nextPage()">
        Next <i class="bi bi-arrow-right-circle"></i>
      </button>
    </div>
  </form>
</div>
