<div class="container">
  <form [formGroup]="ticketForm">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col" class="text-center align-middle">Họ tên</th>
          <th scope="col" class="text-center align-middle">Thông tin chỗ</th>
          <th scope="col" class="text-center align-middle">Giá chuyến đi</th>
          <th scope="col" class="text-center align-middle">Giá vé</th>
          <th scope="col" class="text-center align-middle">Giảm đối tượng</th>
          <th scope="col" class="text-center align-middle">Thành tiền</th>
          <th scope="col" class="text-center align-middle">Xóa vé</th>
        </tr>
      </thead>
      <tbody formArrayName="tickets">
        <tr *ngFor="let ticket of tickets.controls; let i = index" [formGroupName]="i">
          <td class="text-center align-middle">
            <div class="input-group mb-3">
              <span class="input-group-text">Họ và tên</span>
              <input type="text" class="form-control" formControlName="fullname">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Đối tượng</span>
              <select
                class="form-select"
                formControlName="object"
                (change)="getObjectById(i, $event)"
              >
                <option selected disabled>Chọn đối tượng</option>
                <option *ngFor="let object of discountObjects" [value]="object.id">
                  {{ object.object }}
                </option>
              </select>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Số giấy tờ</span>
              <input type="text" class="form-control" formControlName="can_cuoc">
            </div>
          </td>
          <td class="text-center align-middle">{{ selectSeats[i]?.name }}</td>
          <td class="text-center align-middle">{{ selectSeats[i]?.schedulePrice }}</td> <!-- Giá chuyến đi -->
          <td class="text-center align-middle">{{ selectSeats[i]?.price }}</td> <!-- Giá vé -->
          <td class="text-center align-middle">{{ ticket.get('price_reduced')?.value || 0 }}</td>
          <td class="text-center align-middle">{{ calculateFinalPrice(i) }}</td>
          <td class="text-center align-middle">
            <button type="button" class="btn btn-danger" (click)="removeTicket(i)">
              <i class="bi bi-trash"></i> Xóa vé
            </button>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <button type="button" class="btn btn-danger" (click)="clearTickets()">
              Xóa tất cả các vé
            </button>
          </td>
          <td colspan="2" class="text-center align-middle">
            <h5 class="text-center">Tổng tiền: {{ calculateTotalPrice() }}</h5>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-primary btn-lg" (click)="nextPage()">
        Next <i class="bi bi-arrow-right-circle"></i>
      </button>
    </div>
  </form>
</div>
