<div class="container">
    <div class="header-container">
        <button pButton 
          label="Quay lại" 
          icon="pi pi-arrow-left" 
          class="p-button-success mb-2 back-button" 
          [routerLink]="['/admin/route']" 
          routerLinkActive="active">
        </button>
        <h2 class="schedule-title">Lịch trình</h2>
    </div>
  
    <div class="button-container">
      <button pButton label="Thêm mới" icon="pi pi-plus" class="p-button-success mb-2" (click)="newSchedule()"></button>
      <input
        class="form-control"
        placeholder="Tìm kiếm tên tàu"
        [(ngModel)]="search"
        name="search"
        (keyup)="onSearch()"
      />
    </div>
  

    <p-table
      [value]="schedules"
      [tableStyle]="{ 'min-width': '60rem' }"
      [customSort]="false"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" style="width: 10%">
            Id <p-sortIcon field="id" />
          </th>
          <th pSortableColumn="price">Giá tiền <p-sortIcon field="price"></p-sortIcon></th>
          <th pSortableColumn="route.name">Tên chuyến tàu <p-sortIcon field="route.name"></p-sortIcon></th>
          <th pSortableColumn="train.name">Tên Tàu <p-sortIcon field="train.name"></p-sortIcon></th>
          <th pSortableColumn="startDate">Ngày bắt đầu <p-sortIcon field="startDate"></p-sortIcon></th>
          <th pSortableColumn="endDate">Ngày kết thúc <p-sortIcon field="endDate"></p-sortIcon></th>
          <th>Trạng thái</th>
          <th>Hành động</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-schedule>
        <tr>
          <td>{{ schedule.id }}</td>
          <td>{{ schedule.price }}</td>
          <td>{{ schedule.route.name }}</td>
          <td>{{ schedule.train.name }}</td>
          <td>{{ schedule.startDate | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ schedule.endDate | date: 'dd/MM/yyyy HH:mm'}}</td>
          <td>
            <p-inputSwitch 
              [style]="{width: '50px'}" 
              (onChange)="schedule.deleted ? onRestore(schedule) : onDelete(schedule)" 
              [(ngModel)]="schedule.deleted">
            </p-inputSwitch>
          </td>
          <td>
            <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="editSchedule(schedule.id)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <!-- paginator ngprime -->
    @if(pageSize && pageNumber) {
    <div class="card flex justify-content-center mt-3">
      <p-paginator
        [first]="(pageNumber - 1) * pageSize || 0"
        [rows]="pageSize"
        [totalRecords]="total || 0"
        [rowsPerPageOptions]="[5, 10, 20]"
        (onPageChange)="onPageChange($event)"
      >
      </p-paginator>
    </div>
    }


    <p-dialog [(visible)]="displayDialog" modal="modal" [closable]="true" [responsive]="true" header="Thông tin chuyến tàu">
      <div class="container">
        <h2 *ngIf="!currentState; else editTemplate">Thêm chuyến tàu</h2>
        <ng-template #editTemplate>
          <h2>Chỉnh sửa chuyến tàu</h2>
        </ng-template>
  
        <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
          <div class="p-field">
            <label for="routeType">Tên chuyến tàu:</label>
            <input id="routeSelect" formControlName="routeSelect" pInputText  placeholder="Nhập tên chuyến tàu" />
          </div>
  
          <div class="p-field">
            <label for="trainType">Tên tàu:</label>
            <p-dropdown 
              [options]="trainsOptions"  
              formControlName="trainSelect"
              optionLabel="trainName"             
              optionValue="trainId"                
              placeholder="Chọn tàu"
              [showClear]="false"
            ></p-dropdown>
          </div>

          <div class="p-field">
            <label for="priceType">Giá tiền:</label>
            <input id="priceSelect" formControlName="priceSelect" pInputText  placeholder="Nhập giá tiền" />
          </div>

          <div class="p-field">
            <label for="startDate">Ngày và giờ bắt đầu:</label>
            <p-calendar 
              id="startDate" 
              formControlName="startDate" 
              [showTime]="true" 
              [hourFormat]="'24'"
              [showIcon]="true"
              dateFormat="dd/mm/yy"
              placeholder="Chọn ngày và giờ bắt đầu"
              [appendTo]="'body'"
            ></p-calendar>
          </div>
        
          <div class="p-field">
            <label for="endDate">Ngày và giờ kết thúc:</label>
            <p-calendar 
              id="endDate" 
              formControlName="endDate" 
              [showTime]="true" 
              [hourFormat]="'24'"
              [showIcon]="true"
              dateFormat="dd/mm/yy"
              placeholder="Chọn ngày và giờ kết thúc"
              [appendTo]="'body'"
            ></p-calendar>
          </div>

          <div class="p-field-checkbox">
              <p-checkbox inputId="is_active" formControlName="is_active" [binary]="true"></p-checkbox>
              <label for="is_active">Kích hoạt</label>
          </div>
          
          <button pButton type="submit" class="p-button-success-1">
            <b>{{ currentState ? 'Chỉnh sửa chuyến tàu' : 'Thêm chuyến tàu' }}</b>
          </button>
        </form>
      </div>
    </p-dialog>

</div>
