<div class="container">
  <div class="mt-5 mb-5">
    <div class="row g-3">
      <div class="col-md-4 ps-0">
        <div class="card">
          <div class="card-body">
            <div class="icon" style="background-color: #66cdaa">
              <i class="fas fa-tag"></i>
            </div>
            <div>
              <h5 class="card-title mb-0">Số vé bán được</h5>
              <p class="card-text mb-0">203 vé</p>
            </div>
            <div class="ms-auto text-muted">Hôm nay</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="icon" style="background-color: #87ceeb">
              <i class="fas fa-user"></i>
            </div>
            <div>
              <h5 class="card-title mb-0">Người dùng mới</h5>
              <p class="card-text mb-0">3 người</p>
            </div>
            <div class="ms-auto text-muted">Hôm nay</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 pe-0">
        <div class="card">
          <div class="card-body">
            <div class="icon" style="background-color: #f08080">
              <i class="fas fa-dollar-sign"></i>
            </div>
            <div>
              <h5 class="card-title mb-0">Doanh thu</h5>
              <p class="card-text mb-0">2,300 VNĐ</p>
            </div>
            <div class="ms-auto text-muted">Hôm nay</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="card p-5">
      <h2 class="text-center mb-4">Biểu đồ thống kê danh thu trong năm</h2>
      <p-chart type="bar" [data]="data" [options]="options" />
    </div>
  </div>

  <div class="card"></div>
</div>
