<div class="container">
  <div class="mt-5 mb-5">
    <div class="row g-3">
      <div class="col-md-4 ps-0">
        <div class="card">
          <div class="card-body">
            <div class="icon" style="background-color: #66cdaa">
              <i class="fas fa-tag"></i>
            </div>
            <div>
              <h5 class="card-title mb-0">Số vé bán được</h5>
              <p class="card-text mb-0">{{ totalTicketToDay }} vé</p>
            </div>
            <div class="ms-auto text-muted">Hôm nay</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="icon" style="background-color: #87ceeb">
              <i class="fas fa-user"></i>
            </div>
            <div>
              <h5 class="card-title mb-0">Người dùng mới</h5>
              <p class="card-text mb-0">{{ totalUserToDay }} người</p>
            </div>
            <div class="ms-auto text-muted">Hôm nay</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 pe-0">
        <div class="card">
          <div class="card-body">
            <div class="icon" style="background-color: #f08080">
              <i class="fas fa-dollar-sign"></i>
            </div>
            <div>
              <h5 class="card-title mb-0">Doanh thu</h5>
              <p class="card-text mb-0">{{ totalPriceToDay ?? 0 }} VNĐ</p>
            </div>
            <div class="ms-auto text-muted">Hôm nay</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="card p-5">
      <h2 class="text-center mb-4">Biểu đồ thống kê danh thu trong năm</h2>
      <p-chart type="bar" [data]="data" [options]="options" />
    </div>
  </div>

  <div class="card p-5" style="margin-left: -10px; margin-right: -10px">
    <h2 class="text-center mb-3">Thống kê danh sách đơn hàng theo thời gian</h2>
    <div class="text-center mb-1">Thời gian bắt đầu - Thời gian kết thúc</div>
    <div class="d-flex justify-content-center align-items-center gap-2">
      <p-calendar
        [(ngModel)]="rangeDates"
        selectionMode="range"
        [readonlyInput]="true"
      />
      <p-button (onClick)="onSearch()" label="Lọc" icon="pi pi-filter" />
    </div>
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search" />
      <input
        class="mt-3"
        type="text"
        pInputText
        placeholder="Nhập tên khách hàng"
        [(ngModel)]="search"
        (keydown.enter)="onSearch()"
      />
    </p-iconField>
    <h3 class="mt-3 text-center">
      Danh sách đơn hàng từ ngày
      <span *ngIf="rangeDates && rangeDates.length > 0">
        {{ rangeDates[0] | date : "dd/MM/yyyy" }} đến
        {{ rangeDates[1] | date : "dd/MM/yyyy" }}
      </span>
    </h3>
    <p-table
      [value]="orders"
      [tableStyle]="{ 'min-width': '60rem' }"
      [customSort]="false"
    >
      <ng-template pTemplate="header">
        <tr style="text-align: start">
          <th style="width: 10%">Id /></th>
          <th>Tên và thông tin người đặt</th>
          <th>Giá tiền</th>
          <th>Ngày đặt</th>
          <th>Trạng thái</th>
          <th>Hành động</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-order>
        <tr>
          <td class="text-center">#{{ order.id }}</td>
          <td>
            <div class="grouped-data">
              <div><strong>Tên:</strong> {{ order.fullName }}</div>
              <div><strong>CMND:</strong> {{ order.cmnd }}</div>
              <div><strong>Phone:</strong> {{ order.phone }}</div>
            </div>
          </td>
          <td>
            <div class="grouped-data">
              <div><strong>Giá đơn hàng:</strong> {{ order.subTotal }}</div>
              <div *ngIf="order.promotion !== null">
                <strong>Giảm giá của đơn hàng:</strong>
                {{ order.promotion.price }}
              </div>
            </div>
          </td>
          <td>{{ order.created | date : "dd/MM/yyyy HH:mm:ss" }}</td>

          <td>{{ order.status }}</td>
          <td>
            <button
              pButton
              icon="pi pi-eye"
              class="p-button-rounded p-button-info mr-2 eye-button"
              (click)="openOrderDetail(order.id)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!-- paginator ngprime -->
    @if(pageSize && pageNumber) {
    <div class="flex justify-content-center mt-3">
      <p-paginator
        [first]="(pageNumber - 1) * pageSize || 0"
        [rows]="pageSize"
        [totalRecords]="total || 0"
        [rowsPerPageOptions]="[5, 10, 20]"
        (onPageChange)="onPageChange($event)"
      >
      </p-paginator>
    </div>
    }
  </div>
</div>
