<div class="container text-center mt-4">
  <div class="row justify-content-center align-items-center mb-3">
    <div class="col-4 pdropdown">

      <p-dropdown
        [options]="stations"
        [(ngModel)]="selectedStation"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Ga đi"
        [style]="{ width: '250px' }"
      ></p-dropdown>
    </div><br>
    <div class="col-2 d-flex justify-content-center  exchange-icon">
      <i class="pi pi-arrow-right-arrow-left"></i>
    </div>
    <div class="col-4 pdropdown">
      <p-dropdown
        [options]="stations"
        [(ngModel)]="selectedDestination"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Ga đến"
        [style]="{ width: '250px' }"
      ></p-dropdown>
    </div>
  </div>

  <div class="row justify-content-center align-items-center mb-3">
    <div class="radio-group">
      <input type="radio" id="motchieu" name="tripType" [(ngModel)]="tripType" value="motchieu" (change)="onTripTypeChange()">
      <label for="motchieu">Một chiều</label>
      <input type="radio" id="khuhoi" name="tripType" [(ngModel)]="tripType" value="khuhoi" (change)="onTripTypeChange()">
      <label for="khuhoi">Khứ hồi</label>
    </div>
  </div>

  <div class="row justify-content-center align-items-center mb-3">
    <div class="col-auto">
      <label for="departureDate">Ngày đi</label><br />
      <p-calendar
        [(ngModel)]="departureDate"
        [iconDisplay]="'input'"
        [showIcon]="true"
        [readonlyInput]="true"
        inputId="departureDate"
      />
    </div>
    <div class="col-auto">
      <label for="returnDate">Ngày về</label><br />
      <p-calendar
        [(ngModel)]="returnDate"
        [iconDisplay]="'input'"
        [showIcon]="true"
        [readonlyInput]="true"
        inputId="returnDate"
        [disabled]="tripType === 'motchieu'"
      />
    </div>
  </div>

  <p-button
    label="Search"
    icon="pi pi-check"
    [loading]="loading"
    (onClick)="load()"
  ></p-button>
</div>
