<div class="container-fluid train-bg">
  <img
    src="http://res.cloudinary.com/dlhwuvhhp/image/upload/v1728816606/chatapp-images/a8923ee2-43db-4933-ae67-b347b8602e98.webp"
    alt="Train"
    class="background-img"
  />
  <div class="book-tickets">
    <div class="row justify-content-center align-items-center mb-3">
      <div class="col-md-6 pdropdown">
        <p-dropdown
          [options]="stations"
          [(ngModel)]="selectedStation"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          placeholder="Ga đi"
          [style]="{ width: '100%' }"
        ></p-dropdown>
      </div>
      <div class="col-md-6 pdropdown">
        <p-dropdown
          [options]="stations"
          [(ngModel)]="selectedDestination"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          placeholder="Ga đến"
          [style]="{ width: '100%' }"
        ></p-dropdown>
      </div>
    </div>
    <div class="row justify-content-center align-items-center mb-3">
      <div class="radio-group">
        <p-radioButton
          name="tripType"
          [(ngModel)]="tripType"
          value="motchieu"
          label="Một chiều"
          (onClick)="onTripTypeChange()"
        ></p-radioButton>
        <p-radioButton
          name="tripType"
          [(ngModel)]="tripType"
          value="khuhoi"
          label="Khứ hồi"
          (onClick)="onTripTypeChange()"
        ></p-radioButton>
      </div>
    </div>
    <div class="row justify-content-center align-items-center mb-3">
      <div class="col-auto">
        <label for="departureDate">Ngày đi</label><br />
        <p-calendar
          [(ngModel)]="departureDate"
          showIcon="true"
          readonlyInput="true"
          inputId="departureDate"
          dateFormat="dd/mm/yy"
          placeholder="Chọn ngày bắt đầu"
          [appendTo]="'body'"
          [minDate]="minDate"
        ></p-calendar>
      </div>
      <div class="col-auto">
        <label for="returnDate">Ngày về</label><br />
        <p-calendar
          [(ngModel)]="returnDate"
          showIcon="true"
          readonlyInput="true"
          inputId="returnDate"
          dateFormat="dd/mm/yy"
          placeholder="Chọn ngày trở về"
          [disabled]="tripType === 'motchieu'"
          [minDate]="departureDate || minDate"
        ></p-calendar>
      </div>
    </div>
    <div class="row justify-content-center">
      <button pButton label="Tìm kiếm" class="p-button-primary" (click)="search()"></button>
    </div>
  </div>
</div>
