<div class="sidenav" [ngClass]="isSidebarCollapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <i class="pi pi-bars"></i>
    </button>
    <div
      style="cursor: pointer"
      *ngIf="!isSidebarCollapsed"
      class="logo-text"
      routerLink="/"
    >
      TRAIN
    </div>
    <button
      *ngIf="!isSidebarCollapsed"
      class="btn-close"
      (click)="closeSidenav()"
    >
      <i class="pi pi-times"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let item of items">
      <a
        class="sidenav-nav-link"
        [routerLink]="item.routerLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="sidenav-link-icon" [class]="item.icon"></i>
        <span class="sidenav-link-text">{{ item.label }}</span>
      </a>
    </li>
  </ul>
</div>
