.bg {
  background: url('/img/background1.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  min-height: 90vh;
  padding-top: 70px; /* Để tránh nội dung bị che bởi header */
}
.container{
  background-color: rgba(188, 207, 226, 0.8); /* Độ trong suốt 80% */
  border-radius: 15px; /* Thêm bo góc nếu cần */
  padding: 20px; /* Thêm khoảng cách bên trong */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
}
.card {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card-body {
  padding: 5px;
  text-align: center;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
}

.card-text {
  font-size: 0.875rem;
  color: #555;
}


.cart-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.train-stats {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}

.row.align-items-stretch {
  display: flex;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.train-image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;

}

.booking-card {
  background-color: #2b2b2b;
  border-radius: 10px;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  padding: 15px;
  height: 100%;
}


.seats-card {
  background: rgba(245, 245, 245, 0.9);
  border: 5px solid #0056b3;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}
.seats-card .seat {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: lightgray;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;

}
.seats-card .seat:not(.seat-unavailable):hover {
  background-color: #377be2;
  color: white;
  cursor: pointer;
}
.seats-card .seat-selected {
  background-color: #377be2 !important;
  color: white !important;
  cursor: pointer;
}

.seats-card .seat-available {
  background-color: #dbf0e4;
  cursor: pointer;

}

.seats-card .seat-unavailable {
  background-color: #e94528;
  color: white;
  cursor: pointer;

}
.action-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.action-buttons button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
}
.cancel-btn {
  background-color: #e74c3c;
  color: white;
}
.choose-btn:hover {
  transform: scale(1.1);
}
.submit-btn {
  background-color: #2ecc71;
  color: white;
}
.submit-btn:hover {
  transform: scale(1.1);
}
.et-car-block {
  width: 60px !important;
  height: 60px;
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
  float: none;
}
.et-car-icon img {
  width: 100%;
  height: 130%;
}
.et-car-icon {
  margin: 0 1px 10px;
  border-radius: 10px;
  height: 30px;
  overflow: visible;
}
.et-car-icon:hover {
  background-color: #a6b727;
  transform: scale3d(1.1, 1.1, 1.1);
}
.et-car-icon-selected {
  background-color: #a6b727;
}
.et-car-icon-sold-out {
  background-color: #df5327;
}
.et-car-icon-avaiable {
  background-color: #80b5d6;
}



